
    <div class="section-top-border">
		<h3 class="mb-30 set-color-font">Products Management</h3>
		<div class="progress-table-wrap">
							<div class="progress-table">
								<table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Image URL</th>
                                            <th scope="col">Quantity</th>                                        
											<th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

										{{#each products}}
                                        <tr>
                                            <th scope="row">{{this.ID}}</th>
                                            <td>{{this.name}}</td>
                                             <td>${{this.price}}</td>
                                            <td>{{this.description}}</td>
                                            <td>{{this.image}}</td>
                                            <td>{{this.quantity}}</td>                           
											<td class="text-end">
												
												<a href="/admin/manage-products/{{this._id}}/edit" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i>Edit</a>
												<a href="#" type="button" class="btn btn-light btn-small" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-products-modal"><i class="bi bi-person-x"></i> Delete</a>
											</td>
                                        </tr>
										{{/each}}

                                    </tbody>
								</table>
			                </div>
		                </div>				
	</div>

{{!-- Confirm delete products --}}
<div id="delete-products-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Warning!!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Delete this</p>
        <p>Are you sure about this???</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-products" type="button" class="btn btn-danger">Delete</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
	</div>

{{!-- Delete hidden form --}}
<form name="delete-products-form" method="POST"></form>

<script>

  document.addEventListener('DOMContentLoaded', function() {

        var productId;
        var deleteForm = document.forms['delete-products-form'];
        var btnDeleteProduct = document.getElementById('btn-delete-products');

        // When dialog confirm clicked
        var exampleModal = document.getElementById('delete-products-modal')
        exampleModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            productId = button.getAttribute('data-id')
            
        });

        btnDeleteProduct.onclick = function() {
            deleteForm.action = '/admin/manage-products/' + productId + '?_method=DELETE';
            deleteForm.submit();
        }

  });

  
</script>